.spacerTop {
	margin-top: 2rem;
}

.sapMListBGSolid .classNormalColor {
  background: #ffffff;
}
.sapMListBGSolid .classRedColor {
  background: #E8620C;
}

.sapMFeedIn .sapMFeedInContainer {
	min-height: 10rem;
}
.sapMFeedIn>.sapMFeedInContainer>.sapMInputBase {
    min-height: 10rem;
}
.sapMFeedIn>.sapMFeedInContainer>.sapMTextArea>.sapMInputBaseInner {
    min-height: 10rem;
}
.labelComboBox {
	margin: 20px 0 0 5px;
}
.categorySel {
	margin-left: 5px;
}